{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="log_button">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{request.path}}" class="log_button">Log in</a>
    {% endif %}
</div>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                <h2>{{ message }}</h2>
            </div>
            {% endfor %}
        {% endif %}
        {% for choice in question.choice_set.all %}
            {% if choice.id == last_vote %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
            {% else %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            {% endif %}
            <label class="choice_text" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </div>
    <button type="submit" class="button">Vote</button>
<!--    <input type="submit" value="Vote">-->
    <a href="{% url 'polls:index' %}">Back to List of Polls</a>
    <a href="{% url 'polls:results' question.id %}">Results</a>
</form>