* {
    font-size: 100%;
    font-family: "Times New Roman", serif;
}
h1 {
    color: white;
    font-size: 50px;
}
h2 {
    color: white;
    font-size: 30px;
}
a {
    color: white;
    width: 400px;
}
ul {
    padding: 0;
}
body {
    background: white url("images/background.png") no-repeat;
    background-size: cover;
}
.topic{
    color: white;
    text-align: center;
}
.question_box {
    background: rgba(255, 255, 255, .8);
    text-align: center;
    color: black;
    padding: 20px 5%;
    margin: 20px 25%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.question_text {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.result_button {
    background-color: #e0e7fb;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}
.alert {
    background-color: red;
    color: white;
    text-align: center;
    padding: 3px;
}
.vote_count{
    text-align: center;
}
.choice_text{
    color: white;
    font-size: 20px;
}
.log_button {
    background-color: #e0e7fb;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
    text-decoration: none;
    cursor: pointer;
}
.log_button:hover, .button:hover, .result_button:hover {
    background-color: #7494ec;
    transition: 0.1s;
}
.button {
    background-color: #e0e7fb;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
}
.confirm_text {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 5px;
}
.status {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
table, th, td {
    border: 1px solid;
    border-color: white;
    border-collapse: collapse;
    color: white;
    padding: 5px;
}